.v-progress-circular {
  margin-bottom: 15px;
}

.container-external {
  padding: 15px;
}

.container {
  background: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
