.toolbar {
  .items {
    span {
      margin-right: 20px;
    }
  }

  .username {
    font-weight: bold;
  }

  .padding-right {
    padding-right: 20px;
  }

  .margin-top {
    margin-top: 10px;
  }
}
