<section class="logo">
  <v-row align="center" justify="center" no-gutters>
    <v-col class="text-center logo" cols="12">
      <v-img :src="imgGame" :lazy-src="imgGame" aspect-ratio="1" class="grey lighten-2 elevation-3" :max-height="!isMobile ? '300' : '200'"
        id="logo">
        <template v-slot:placeholder>
          <v-row class="fill-height ma-0" align="center" justify="center">
            <v-progress-circular indeterminate color="grey lighten-5" />
          </v-row>
        </template>
      </v-img>
    </v-col>
  </v-row>
</section>
