<section class="home">
  <toolbar ref="toolbar" />

  <v-row align="center" justify="center">
    <v-col cols="8">
      <v-card :loading="isLoading">
        <v-list-item light v-for="(field, index) in fields" :key="'field'+index"
          :class="{'background-color': (index % 2 === 0)}">
          <v-list-item light class="text-left" :class="{'background-color': (index % 2 === 0)}">
            {{field.label}}
          </v-list-item>
          <v-list-item-subtitle class="text-right" :class="{'background-color': (index % 2 === 0)}"
            v-html="field.value" />
        </v-list-item>
      </v-card>
    </v-col>
  </v-row>
</section>
