.login {
  margin-top: 20px;

  .v-icon {
    margin-right: 5px;
  }

  .v-form {
    .row {
      .col:last-child {
        @media (max-width: 600px) {
          //xs

          padding-left: 0px;
        }

        @media (min-width: 600px) {
          //sm

          padding-left: 0px;
        }

        @media (min-width: 960px) {
          //md

          padding-left: 20px;
        }

        @media (min-width: 1264px) {
          //lg

          padding-left: 20px;
        }

        @media (min-width: 1904px) {
          //xl

          padding-left: 20px;
        }
      }
    }
  }

  .bottom-bar {
    margin-top: 10px;
  }

  .v-card {
    padding: 20px;
  }
}
